* {
    border: none;
    border-radius: 0;
    font-family: "Source Sans Pro", "FiraCode";
    font-size: 15px;
    box-shadow: none;
    text-shadow: none;
    transition-duration: 0s;
}

window#waybar {
    color: rgba(137, 221, 255, 1);  /* Lighter Blue Foreground */
    background-color: rgba(40, 44, 52, 0.4);  /* Background */
    border-bottom: 2px solid rgba(137, 221, 255, 0.4);  /* Border */
}

window#waybar.solo {
    color: rgba(137, 221, 255, 1);  /* Lighter Blue Foreground */
}

#workspaces {
    margin: 0 5px;
}

#custom-scratchpad {
    margin: 0px 5px;
    padding: 0px 5px;
}

#workspaces button {
    padding: 0 5px;
    color: rgba(137, 221, 255, 1);  /* Lighter Blue Foreground */
}

#workspaces button.focused {
    color: rgba(86, 182, 252, 1);  /* Focused workspace */
}

#workspaces button.visible {
    color: rgba(86, 182, 252, 1);  /* Visible workspace */
}

#workspaces button.urgent {
    color: rgba(224, 108, 117, 1);  /* Urgent workspace */
}

#mode, 
#battery, 
#cpu, 
#memory, 
#network, 
#bluetooth,
#pulseaudio, 
#idle_inhibitor, 
#temperature,
#custom-layout,
#backlight {
    margin: 0px 6px 0px 10px;
    /* min-width: 30px; */
}

#clock {
    margin: 0px 6px 0px 10px;
}

#battery.warning {
   color: rgba(209, 154, 102, 1);  /* Warning */
}

#battery.critical {
    color: rgba(224, 108, 117, 1);  /* Critical */
}

#battery.charging {
    color: rgba(171, 178, 191, 1);  /* Charging */
}

#bluetooth.disabled {
    color: rgba(92, 99, 112, 1);  /* Disabled */
}

#bluetooth.off {
    color: rgba(92, 99, 112, 1);  /* Off */
}

#bluetooth.connected {
    color: rgba(86, 182, 252, 1);  /* Connected */
}

#network.wifi {
    color: rgba(86, 182, 252, 1);  /* Connected */
}
