/* ----------------------------------------------------------------
 * -- General
 * ------------------------------------------------------------- */
* {
    border: none;
    border-radius: 0;
    font-family: "FiraCode";
    font-size: 14px;
    box-shadow: none;
    text-shadow: none;
    transition-duration: 0s;
}


/* ----------------------------------------------------------------
 * -- Bar
 * ------------------------------------------------------------- */
window#waybar {
    color: rgb(255, 255, 255);
    background-color: rgba(25, 25, 25, 0.5);
}


/* ----------------------------------------------------------------
 * -- Workspaces
 * ------------------------------------------------------------- */
#workspaces {
    margin: 0 5px;
}

#workspaces button {
    padding: 0 5px;
}


/* ----------------------------------------------------------------
 * -- System tray area
 * ------------------------------------------------------------- */
#idle_inhibitor,
#cpu,
#memory,
#tray,
#pulseaudio,
#backlight,
#battery {
    margin: 0px;
    padding-right: 6px;
    padding-left: 6px;
    border-bottom: 2px solid rgba(230, 230, 230, 0.7);
    background: rgba(170, 180, 190, 0.15);
}

#idle_inhibitor {
    padding-right: 12px;
}

#cpu {
    min-width: 50px;
}

#memory {
    min-width: 50px;
}

#battery {
    margin: 0px;
    margin-right: 6px;
    padding-left: 4px;
    padding-right: 8px;
    background: rgba(170, 180, 190, 0.15);
}

#idle_inhibitor:hover,
#memory:hover,
#cpu:hover,
#tray>widget:hover,
#pulseaudio:hover,
#backlight:hover,
#battery:hover {
    background: rgba(170, 180, 190, 0.3);
}


/* ----------------------------------------------------------------
 * -- Language, Clock, Notifications
 * ------------------------------------------------------------- */
#language,
#clock,
#custom-swaync {
    margin: 0 3px;
    padding: 0 5px;
}

#custom-swaync {
    padding-right: 9px;
    margin-right: 6px;
}

#custom-swaync:hover {
    background: rgba(170, 180, 190, 0.3);
}


/* ----------------------------------------------------------------
 * -- Colors
 * ------------------------------------------------------------- */
#workspaces button.focused,
#workspaces button.visible {
    color: rgb(160, 215, 255);
}

#custom-swaync.dnd-notification,
#custom-swaync.dnd-none {
    color: rgb(150, 150, 150);
}

#tray>.needs-attention,
#battery.warning {
    color: rgba(210, 155, 100, 1);
}

#workspaces button.urgent,
#battery.critical {
    color: rgba(225, 110, 120, 1);
}

#custom-swaync.notification,
#battery.charging {
    color: rgb(160, 190, 210);
}

#battery.plugged {
    color: rgb(160, 210, 180);
}
